html, body {
  margin: 0;
  height: 100%;
}

body{
  background-image: linear-gradient(to bottom, black, 90%, #67009f);
  background-attachment: fixed;
}


.col{
  padding: 0;
}
.row{
  padding: 0;
  margin: 0;
}
.container{
  padding: 0;
  width: 100%;
  height: 100%;
}
.App{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logos{
  width: 2rem;
  margin: 10px 10px 10px 0;
}

.mainPrincipal{
  color: aqua;
  font-family: 'Raleway', sans-serif;
}

.imgLogo{
  padding: 0;
  min-height: 250px;
  min-width: 250px;
  /* height: 25vw;
  width: 25vw; */
}

div h1 {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: calc(2.5rem + 1.5vw);
}

.firstRow{
  height: 100vh;
  max-width: 50rem;
  justify-content: center;
}

.firstRow .order-1{
  align-self: flex-end;
  padding-bottom: 2rem;
  width: fit-content;
  max-width: fit-content;
}

.secondRow{
  height: fit-content;
  min-height: 100vh;
  justify-content: space-evenly;
}
.secondRow .col-lg{
  margin: 1rem 0 1rem 0;
  padding: 0 2rem 0 2rem;
}
.secondRow .col-lg h2 {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  color: aliceblue;
  font-size: calc(1rem + 2vw);
}
.secondRow .col-lg p {
  font-size: calc(0.5rem + 1vw);
}

.row2-5{
  height: fit-content;
  min-height: 100vh;
  justify-content: space-evenly;
}
.row2-5 .container{
  height: 100vh;
}
.row2-5 .container .row{
  align-self: center;
  justify-content: center;
  align-items: center;
}
.row2-5 .container .row h2{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  color: aliceblue;
  font-size: calc(1rem + 2vw);
}

.thirdRow{
  height: fit-content;
  min-height: 100vh;
}
.thirdRow .container .row{
  width: 100%;
}
.thirdRow .container .row h2 {
  margin-top: 1.5rem;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  color: aliceblue;
  font-size: calc(0.5rem + 2.5vw);
}

.forthRow{
  min-height: 100vh;
  height: fit-content;
  color: aliceblue;
  font-size: calc(0.5rem + 2.5vw);
}

.logoProject{
  width: 2.5em;
}

.col-project{
  margin-top: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: #67009f 3px solid;
  border-radius: 50%;
}

.projectDescription{
  color: aqua;
  font-size: calc(0.5rem + 1vw);
}

.title2{
  margin-top: 1.5rem;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  color: aliceblue;
  font-size: calc(0.5rem + 2.5vw);
}

.title3{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  color: aliceblue;
  font-size: calc(1rem + 2.5vw);
}
.columCuadro{
  color: aqua;
}
.rowH3{
  color: #67009f;
  border-bottom: #67009f 3px solid;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.title1{
  margin: 0;
  padding: 0 2rem 0 2rem;
}

@media screen and (min-width: 992px){
  .secondRow .col-lg{
    margin: 0 1rem 0 1rem;
    padding: 0;
  }
  .firstRow{
    align-items: center;
  }
  .firstRow .order-1{
    align-self: center;
    padding-bottom: 0;
  }
}